@font-face {
    font-family: 'Staatliches';
    src: url('/fonts/staatliches-v11-latin-regular.woff2') format('woff2');
}

h1, h2, h3 {
    font-family: 'Staatliches';
}

.information {
    h2:after {
        font-family: 'Staatliches';
    }

    .date {
        font-family: 'Staatliches';
    }
}

.groupdetail .date {
    font-family: 'Staatliches';
}


    #abouterwin {
        .bg-red {
            color: #fefefe;
            background: #E26D5A;

            a {
                color: #fff;
                font-weight: bold;
                border-bottom-color: #fff;
            }
        }

        p {
            text-align: left;
        }

        .navbar .container {
            padding: 10px 180px;
        }

        .container {
            max-width: 1280px;
        }

        .imgcontainer {
            text-align: center;
        }

        .imgcontainer img {
            width: 200px;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        ul li {
            padding: 0;
            margin: 0;
        }

        .profilepicture {
            border-radius: 50px;
            width: 80%;
        }

        .background-light {
            background: #000;
            color: #fff;
        }

        .career .item {
            opacity: 0.8;
        }

        .career .item:hover {
            transition-duration: .2s;
            opacity: 1;
        }

        .career .time {
            color: #aaa;
        }

        .skills .clear {
            clear: both;
        }

        .skills h6 {
            margin-top: 20px;
        }

        .skills h6:first-child {
            margin-top: 0;
        }

        .skills ul {
            margin-bottom: 20px;
        }

        .skills li {
            transition-duration: .2s;
            opacity: 0.85;
            float: left;
            background: #e4e6ed;
            color: #333;
            margin-right: 10px;
            margin-bottom: 10px;
            padding: 5px 15px;
            border-radius: 10px;
            cursor: default;

            &:hover {
                opacity: 1;
                transform: scale(1.05);
                box-shadow: 1px 1px 4px #aaa;
            }
        }

        .gallery-item img {
            opacity: 0.9;
        }

        .gallery-item:hover img {
            opacity: 1;
            transition-duration: .2s
        }

        #lastfmtop10 {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;

            .artist {
                float: left;
                margin-top: 10px;
                margin-left: 10px;
            }

            .artist .name {
                font-weight: bold;
            }

            .artist .plays {
                opacity: 0.7;
            }

            li:hover .artist .plays {
                transition-duration: .2s;
                opacity: 1;
            }

            li {
                margin-bottom: 10px;
                clear: both;
                height: 64px;
                width: 220px;

                img {
                    width: 64px;
                    float: left;
                    border-radius: 5px;
                    transition-duration: .2s;
                    box-shadow: 1px 1px 1px rgba(255,255,255,.5);
                }
            }

            li:hover img {
                transform: scale(1.2);
            }
        }
    }
