@page
@model Portfolio.Pages.AnyAfternoonModel


    <div id="titlecontainer">
    <h1>Infinite Afternoon</h1>
    </div>

    <div class="dropscanvas">
        <div class="drop"></div>
    </div>

    <div class="themiddle second"></div>
    <div class="themiddle third"></div>
    <div class="themiddle fourth"></div>
    <div class="themiddle fifth"></div>
    <div class="themiddle">
        <button id="start"></button>
        <input id="volumecontrol" type="range" min="0" max="110" step="1" value="100" />
        <p class="d-block d-sm-none">When listening on a phone, please unmute your device.</p>


        <div class="info">
            <h2>infinite afternoon</h2>
            <h6>What is Infinite Afternoon?</h6>
            <p>Infinite Afternoon gives you always-changing ambient music, available on the web.</p>
            <p>All notes and effects on top of the 'base loop' are played at randomly selected intervals. Due to these intervals, every user will hear completely unique interplay between notes, no matter how many times you refresh or how long you leave it open. </p>

            <h6>What techniques are used to make Infinite Afternoon?</h6>
            <p>I have created the samples with Ableton Live.</p>
            <p>The page is created with HTML/CSS and JavaScript/jQuery. In JavaScript I use the Web Audio API to play and manipulate the audio files.</p>

            <h6>Can I get in contact?</h6>
            <p>Email me at <a href="mailto:afternoon@erwinvk.nl">afternoon@erwinvk.nl</a> Maybe we can team up to make something great!</p>
        </div>
    </div>

    <div class="noise"></div>