@page
@model Portfolio.Pages.AnyAfternoonModel


<div id="titlecontainer">
<h1>Infinite Afternoon</h1>
</div>

<div class="dropscanvas">
    @*<div class="drop"></div>*@
</div>

<div class="themiddle second"></div>
<div class="themiddle third"></div>
<div class="themiddle fourth"></div>
<div class="themiddle fifth"></div>
<div class="themiddle">
    <button id="start"></button>
    <input id="volumecontrol" type="range" min="0" max="110" step="1" value="100" />
        
    <a href="#" class="openinfo">about</a>

    <div class="infocontainer" style="display: none;">
        <div class="info hidden">
            <p class="d-block d-sm-none">When listening on a phone, please unmute your device.</p>

            <h2>infinite afternoon</h2>
            <h6>What is Infinite Afternoon?</h6>
            <p>Infinite Afternoon gives you always-changing ambient music, available on the web.</p>
            <p>All notes and effects on top of the 'base loop' are played at randomly selected intervals. Due to these intervals, every user will hear completely unique interplay between notes, no matter how many times you refresh or how long you leave it open. </p>
            <p>Infinite Afternoon is inspired by Brian Eno's piece 'Thursday Afternoon'. Eno's piece is ultimately limited in time due to the nature of music distribution, while Inifinite Afternoon could potentially go on forever.</p>

            <h6>What techniques are used to make Infinite Afternoon?</h6>
            <p>I have created the samples with Ableton Live.</p>
            <p>The page is created with HTML/CSS and JavaScript/jQuery. In JavaScript I use the Web Audio API to play and manipulate the audio files.</p>
            <p>The 'drops' you see are aligned with the panning of the notes.</p>

            <h6>Is Infinite Afternoon using AI?</h6>
            <p>No. All sounds were created by me, and the timing is done based on rules I programmed.</p>

            <h6>Can I get in contact?</h6>
            <p>Email me at <a href="mailto:afternoon@erwinvk.nl">afternoon@erwinvk.nl</a> for anything! Maybe we can team up to make something great. Or maybe you have an idea, or something is not working correctly. Let me know!</p>

            <p>Also check out <a href="https://erwinvankester.nl">erwinvankester.nl</a>.</p>
        </div>
    </div>
</div>

<div class="time"></div><a href="#" class="share"><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path fill="#AECFDFCC" d="M18 16.08c-.76 0-1.44.3-1.96.77L8.91 12.7c.05-.23.09-.46.09-.7s-.04-.47-.09-.7l7.05-4.11c.54.5 1.25.81 2.04.81 1.66 0 3-1.34 3-3s-1.34-3-3-3-3 1.34-3 3c0 .24.04.47.09.7L8.04 9.81C7.5 9.31 6.79 9 6 9c-1.66 0-3 1.34-3 3s1.34 3 3 3c.79 0 1.5-.31 2.04-.81l7.12 4.16c-.05.21-.08.43-.08.65 0 1.61 1.31 2.92 2.92 2.92s2.92-1.31 2.92-2.92c0-1.61-1.31-2.92-2.92-2.92zM18 4c.55 0 1 .45 1 1s-.45 1-1 1-1-.45-1-1 .45-1 1-1zM6 13c-.55 0-1-.45-1-1s.45-1 1-1 1 .45 1 1-.45 1-1 1zm12 7.02c-.55 0-1-.45-1-1s.45-1 1-1 1 .45 1 1-.45 1-1 1z"></path></svg></a>
<div class="noise"></div>