<html>
<head>
    <title>Infinite Afternoon</title>

    <meta name="description" />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
    <meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
    <link rel="canonical" href="https://infiniteafternoon.com/" />
    <meta property="og:locale" content="en_EN" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Infinite Afternoon" />
    @*<meta property="og:image" content="https://erwinvankester.nl/img/erwin/profile.jpg" />*@
    <meta property="og:description" content="Infinite Afternoon gives you always-changing generated ambient music, available on the web." />
    <meta property="og:url" content="https://infiniteafternoon.com/" />
    <meta property="og:site_name" content="Infinite Afternoon" />
    @*<meta name="twitter:card" content="summary_large_image" />*@

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/afternoon.css" asp-append-version="true" />
    <style>
    </style>
</head>
<body>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-0488N29E87"></script>
    <script>window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-0488N29E87', { 'anonymize_ip': true });</script>

    @RenderBody()

    <a id="tag" href="https://erwinvankester.nl" target="_blank">
        ERWINv<br />
        KESTER
    </a>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>