<html>
<head>
    <title>Infinite Afternoon</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/erwin.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/afternoon.css" asp-append-version="true" />
    <style>
        
    </style>
</head>
<body>
    
    @RenderBody()
       
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>